---
import { Icon } from "astro-icon/components";

interface Props {
	title: string;
	text: string;
	header: string;
	cards: { title: string; link: string }[];
}
const { title, text, header, cards } = Astro.props;
---

<section class={`mx-auto max-w-7xl my-8 sm:my-32 px-4 sm:px-0`}>
	<div class={`flex flex-col justify-center text-center items-center`}>
		<div
			class={`sm:px-6 md:px-8 lg:py-0 2xl:px-0 h-full flex flex-col justify-between gap-4 sm:gap-8 mx-auto max-w-4xl`}
		>
			<div>
				<p
					class={`text-text-secondary text-lg font-semibold tracking-wide uppercase sm:text-xl/10`}
				>
					{header}
				</p>
				<h2>{title}</h2>
			</div>
			<p>{text}</p>
			<div
				class="mx-auto grid w-full max-w-6xl grid-cols-2 flex-row justify-between gap-1 gap-y-4 px-2 py-8 sm:grid-cols-3 sm:gap-4 sm:py-12"
			>
				{
					cards.map((card, index) => (
						<a
							href={card.link}
							class={`group hover:bg-background-light flex flex-col items-center justify-center space-y-2 rounded-xl py-4 text-base sm:text-lg/8 ${
								index < 3
									? "text-accent-teal"
									: index < 6
										? "text-accent-red"
										: "text-accent-darkblue"
							}`}
						>
							<Icon name={card.title.split(" ")[0].toLowerCase()} class="h-12 w-auto sm:h-16" />
							<p class="flex text-lg font-medium sm:text-xl sm:whitespace-nowrap">
								{card.title}{" "}
								<span class="ml-2 hidden transition-transform duration-200 ease-in-out group-hover:translate-x-1 sm:block">
									{">"}
								</span>
								<div
									class={`${
										index < 3
											? "bg-accent-teal"
											: index < 6
												? "bg-accent-red"
												: "bg-accent-darkblue"
									} mt-1.5 h-[3px] w-0 transition-all duration-500 group-hover:w-3/4`}
								/>
							</p>
						</a>
					))
				}
			</div>
		</div>
	</div>
</section>
