---
import { Picture } from "astro:assets";
import type { Props as ButtonProps } from "./Button.astro";
import Button from "./Button.astro";

interface Props {
	title: string;
	image: ImageMetadata;
	imageSide?: "left" | "right";
	button?: ButtonProps | false;
	first: boolean;
	breakOut?: "left" | "right" | false;
	titleColor?: string;
}
const {
	title,
	image,
	imageSide = "left",
	button,
	first = false,
	breakOut = false,
	titleColor = "text-text-primary",
} = Astro.props;
---

<section class={`mx-auto max-w-7xl ${first ? "mt-24 sm:mt-28" : "my-8 sm:my-32"}`}>
	<div class={`md:flex items-center ${imageSide === "left" ? "flex-row-reverse" : ""}`}>
		<div
			class={`px-4 xl:px-0 md:w-2/3 h-full ${
				imageSide === "right" ? "md:pl-0 md:pr-12" : "md:pl-12"
			} flex flex-col justify-between gap-4 sm:gap-8`}
		>
			{
				first ? (
					<h1 class={`text-4xl/12 font-bold sm:text-6xl/18 ${titleColor}`}>{title}</h1>
				) : (
					<h2 class={`text-2xl/10 font-bold sm:text-3xl/16 ${titleColor}`}>{title}</h2>
				)
			}
			<slot />
			{
				button && button.link && (
					<Button
						type={button.type}
						link={button.link}
						buttonText={button.buttonText}
						class="w-72"
					/>
				)
			}
		</div>
		<div
			class={`${breakOut === "right" ? "break-right md:w-full" : breakOut === "left" ? "break-left" : "w-1/2"} mx-auto mt-4 md:mt-2`}
		>
			<Picture
				src={image}
				alt={title}
				sizes="(max-width: 640px) 100vw, 400w"
				formats={["avif", "webp"]}
				fallbackFormat="jpg"
				widths={[400, 800, 1200]}
				class="h-full w-full rounded-lg object-contain"
			/>
		</div>
	</div>
</section>
